* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #fff8f3;
  padding-top: 50px;
}

.logo {
  font-size: 30px;
}
.color-orange {
  color: #e73a06;
}
nav {
  width: 71%;
  max-width: 1140px;
  border: 0px solid #252424;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 51px;
}
nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #474747;
}
.btn {
  padding: 10px 20px;
  background-color: #e73a06;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}
.btn:hover {
  background-color: #cf2f00;
  transition: background-color 0.3s ease;
}
