* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background:
    url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
  background-repeat: no-repeat;
  background-position:
    left top,
    right bottom;
}

.logo {
  font-size: 30px;
}
.color-orange {
  color: #e73a06;
}
nav {
  width: 71%;
  max-width: 1140px;
  border: 0px solid #252424;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 51px;
}
nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #474747;
}
.btn {
  padding: 10px 20px;
  background-color: #e73a06;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}
.btn:hover {
  background-color: #cf2f00;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}
#banner {
  /* border: 1px solid red; */
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 585px;
  vertical-align: middle;
}
